.IdCard {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 50%;
  margin-bottom: 1rem;
}
.IdCard .container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.IdCard img {
  width: 8rem;
  height: 8rem;
}
.IdCard p {
  margin: 0;
}
.IdCard span {
  font-weight: bold;
}